/* minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */

html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/* Page Setup */

html,
body{font:16px/2 'Libre Baskerville',serif;height:100%;text-align:center}

@media (min-width:576px) {
  html,
  body{font-size:18px}
}

/* Wrappers */

.wrapper{margin:0 auto;max-width:700px;padding:0 1.5rem;position:relative}
.wrapper.narrow{max-width:580px}
.wrapper.wide{max-width:1280px}
.wrapper.extra-wide{max-width:unset}

/* Links & Buttons */

a,
button{background:0 0;border:0;color:inherit;cursor:pointer;font:inherit;text-decoration:none}

.button{align-items:center;background:linear-gradient(90deg,transparent,#fff1a1 25% 75%,transparent);display:inline-flex;font-size:1.2rem;height:72px;padding:10px 60px;position:relative;transition:.2s;white-space:nowrap}
.button::before,
.button::after{background:linear-gradient(90deg,transparent,#ffdc6a 25% 75%,transparent);content:'';height:2px;left:0;position:absolute;right:0}
.button::before{top:0}
.button::after{bottom:0}
.button svg{height:30px;margin-left:10px}
.button:hover{opacity:.8;transform:scale(.95);}

.icons{align-items:center;display:flex}
.icons a,
.icons button{padding:5px}
.icons a svg,
.icons button svg{display:block;fill:#fff;transition:.2s transform,.2s fill;width:40px}
.icons a:hover svg,
.icons button:hover svg{fill:#f4a9a1;transform:scale(.95)}

.icons button:disabled{opacity:.5;pointer-events:none} /* remove when alternative language(s) added and button becomes functional */

/* Text Elements */

.bold{font-weight:700}
.glow{text-shadow:0 0 100px #F4A9A1,0 0 50px #F4A9A1,0 0 25px #F4A9A1,0 0 15px #F4A9A1,0 0 5px #F4A9A1,0 0 2px #F4A9A1}
.italic{font-style:italic}
.spaced{letter-spacing:.5em;margin-left:.5em}

/* Nav */

nav{background:linear-gradient(rgba(0,0,0,.5),transparent);height:150px;left:0;position:absolute;right:0;z-index:1}
nav .wrapper{display:flex;justify-content:space-between;padding:1rem}

@media (min-width:576px) {
  nav .icons{column-gap:10px}
}

/* Header */

header{align-items:center;background:center/cover url('../img/background-day.jpg');display:flex;height:100%;overflow:hidden;position:relative}
header::before,
header::after{bottom:0;content:'';left:0;pointer-events:none;position:absolute;right:0;top:0}
header::before{background:linear-gradient(transparent 70%,#fff calc(100% - 100px));filter:blur(20px);margin:-70px;z-index:2}
header::after{backdrop-filter:blur(3px);background:rgba(0,0,0,.25)}
header .wrapper{padding:0 .5em;z-index:1}
header h1{margin-bottom:20px;position:relative}
header h1 img:nth-of-type(1){filter:drop-shadow(0 0 50px rgba(0,0,0,.3))}
header h1 img:nth-of-type(2),
header h1 img:nth-of-type(3){filter:drop-shadow(0 0 10px #f0ed53) drop-shadow(0 0 2px #f0ed53);left:0;position:absolute;top:0}
header h1 img:nth-of-type(2){animation:header-floating 4s infinite cubic-bezier(.37,0,.63,1),header-flicker 6s infinite linear}
header h1 img:nth-of-type(3){animation:header-floating 6s infinite cubic-bezier(.65,0,.35,1)}

/* header .characters img{bottom:0;filter:drop-shadow(0 0 15px rgba(0,0,0,.25));height:80%;left:0;object-fit:contain;pointer-events:none;position:absolute;width:100%;z-index:1}
header .characters img:nth-of-type(1){transform:scaleX(-1) translateX(825px)}
header .characters img:nth-of-type(2){transform:translateX(775px)} */

header .characters {
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  pointer-events: none;
  position: absolute;
  z-index: 1;
  width:100%;
  min-width: 1400px;
  max-width: 1800px;
  transform:translate(-50%, 0);
  margin-left:50%
}

header .characters img {
  bottom: 0;
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, .25));
  height: 80%;
  max-height: unset;
  position: absolute;
}

header .characters img:nth-of-type(1) {
  transform: scaleX(-1);
  left:-200px
}

header .characters img:nth-of-type(2) {
  right:-200px
}

header .scroll{animation:header-scroll 2s infinite ease-out;bottom:50px;left:0;position:absolute;right:0;z-index:2}
header .scroll img{animation:header-scroll 2s infinite ease-out}

@keyframes header-floating {
  from,
  to{transform:translate(0,0)}
  50%{transform:translate(0,7.5px)}
}

@keyframes header-flicker {
  22%,
  24%,
  27%,
  28%{filter:drop-shadow(0 0 10px #f0ed53) drop-shadow(0 0 2px #f0ed53);opacity:1}
  23%,
  27%{filter:none;opacity:.9}
}

@keyframes header-scroll {
  from{opacity:0;transform:translateY(-10px)}
  50%,
  75%{opacity:1}
  to{opacity:0;transform:translateY(10px)}
}

/* Summary */

#summary {
  font-size: 1.4rem;
  padding: 200px 0;
}
#summary .button{margin-top:40px}

/* About */

        /* Keeping Headings? */

h2 {
  font-size: 4rem;
  margin-bottom: 200px;
  line-height:1;
  margin: 0 0 40px
}

@media (min-width:576px) {
  h2{font-size: 6rem}
}

#about h2 {
  margin-bottom: 80px
}

#about .img {
  position: relative
}

#about .img::before {
  content: '';
  left: 0;
  right: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  box-shadow: 0 0 50px #f8dddc inset, 0 0 10px #f8dddc inset, 0 0 5px #f8dddc inset, 0 0 50px #f8dddc inset, 0 0 10px #f8dddc inset, 0 0 5px #f8dddc inset
}

#about .img img {
  border: none;
  display: block;
  outline: none
}


#about {
  font-size: 1.2rem;
  padding: 200px 0;
  overflow: hidden;
  position: relative;
  background: #fce8e7;
  z-index: 0;
}

#about .warpper {
  z-index: 1;
}

#about::before,
#about::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: '';
  position: absolute;
}

#about::before {
  mix-blend-mode: overlay;
  opacity: .1;
  background-size: 50px;
  background-image: url('../img/circle.svg');
  transform: scale(1.5)rotate(-25deg);
  z-index: -2;
}

#about::after {
  background: linear-gradient(#fce8e7,transparent 50%);
  z-index: -1;
}

#about .halves{align-items:center;column-gap:75px;display:grid;row-gap:75px}

@media (min-width:768px) {
  #about .halves{grid-template-columns:repeat(2,1fr);grid-template-rows:repeat(4,1fr)}
  #about .halves :nth-child(1){order:-1}
  #about .halves :nth-child(2){order:-1}
  #about .halves :nth-child(4){order:-1}
  #about .halves :nth-child(7){grid-area:4/1/4/3}
}

/* Character Cards */

#characters {
  overflow-x: clip;
  /* height: 700px; */
  font-size: 1.2rem;
  position: relative;
  z-index: 1;
  padding: 200px 0;
  background: linear-gradient(#fff, #e6ecf7);
  overflow: hidden;
}

#characters::before {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: '';
  position: absolute;
}

#characters::before {
  mix-blend-mode: soft-light;
  opacity: .2;
  background-size: 50px;
  background-image: url('../img/flower.svg');
  transform: scale(1.5)rotate(10deg);
  z-index: -1;
}

#characters .wrapper {
  z-index: 1;
}

#characters #cards {
  color: #000;
  perspective: 3000px;
  /* position: absolute; */
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 100px 0
}

#cards .card h3 {
  font-weight: bold;
  line-height: 1;
  padding: 6px;
}

#cards .card p {
  line-height: 1;
  font-size: 1rem;
  padding: 0 6px 6px 6px
}

#characters #cards .card {
  border-radius: 10px;
  position: relative;
  background: #fdf9ed;
  aspect-ratio: 1/1.7;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 80px rgba(0, 0, 0, .2)
}

#characters #cards .card>div {
  margin: 10px;
  border: 1px solid;
  background: #f7ecc8;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#characters #cards .card>div img {
  object-fit: cover;
  object-position: top;
  height: 100%
}

#characters #cards .card>div>div {
  padding: 5px 10px;
  border-top: 1px solid;
}

#characters #cards .card:nth-of-type(1) {
  transform: translate(0, 125px)rotate3d(10, 5, 2.5, 45deg);
  z-index: 2
}

#characters #cards .card:nth-of-type(1) img {
  background: #f0c0bc
}

#characters #cards .card:nth-of-type(2) {
  transform: translate(-20px, 60px)rotate3d(40, -15, -20, 30deg);
  z-index: 3
}

#characters #cards .card:nth-of-type(2) img {
  background: #d5dbee
}

#characters #cards .card:nth-of-type(3) {
  transform: translate(-20px, 50px)rotate3d(50, 25, 0, 40deg)
}

#characters #cards .card:nth-of-type(3) img {
  background: #e6ebe8
}

#characters #cards .card:nth-of-type(4) {
  transform: translate(-15px, 25px)rotate3d(10, -2.5, 0, 35deg);
  z-index: 2
}

#characters #cards .card:nth-of-type(4) img {
  background: #000
}

@media (min-width:768px) {
  /* #characters {
    height: 800px
  } */

  #characters #cards{grid-template-columns:repeat(4,1fr)}
  #characters #cards{grid-template-columns:repeat(4,1fr)}
  #characters #cards .card:nth-of-type(2){transform:translate(0,60px)rotate3d(40,-15,-20,30deg)}
  #characters #cards .card:nth-of-type(3){transform:translate(0,-65px)rotate3d(50,25,0,40deg)}
  #characters #cards .card:nth-of-type(4){transform:translate(0,25px)rotate3d(10,-5,0,35deg)}
}

/* Night */

#night{align-items:center;background:url('../img/background-night.jpg') center/cover;color:#fff;display:flex;font-size:1.4rem;min-height:100%;overflow:hidden;padding:250px 0;position:relative}
#night::before{background:linear-gradient(rgba(0,0,0,.4) 70%,#000 calc(100% - 100px));bottom:0;content:'';filter:blur(20px);left:0;margin:-70px;position:absolute;right:0;top:0}

/* Buy */

#buy{background:#648489;color:#fff;font-size:1.8rem;overflow:hidden;padding:250px 0;position:relative;z-index:0}
#buy::before{background:linear-gradient(#000,rgba(0,0,0,.7));bottom:0;content:'';left:0;position:absolute;right:0;top:0}
#buy .button{background:linear-gradient(90deg,transparent,rgba(255,160,160,.05) 25% 75%,transparent);fill:#fff;filter:drop-shadow(0 0 30px #F4A9A1) drop-shadow(0 0 5px #F4A9A1) drop-shadow(0 0 2px #F4A9A1);margin-top:40px}
#buy .button:hover{color:#d64939;fill:#d64939;filter:drop-shadow(0 0 30px #d64939) drop-shadow(0 0 5px #d64939) drop-shadow(0 0 2px #d64939)}
#buy img{bottom:0;max-width:unset;position:absolute;transform:translate(-50%,50%);z-index:-1}

/* Footer */

footer{padding:50px 0}
footer img{width:150px}
footer .icons{column-gap:10px;justify-content:center;margin:0 0 10px}
footer .icons a svg{fill:#000}
footer p span{margin:0 .75em}
footer p a{color:#F4A9A1;text-decoration:underline}
footer p a:hover{text-decoration:none}

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');