/* minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */

html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/* Page Setup */

html,
body{font:16px/2 'Libre Baskerville',serif;height:100%;text-align:center}

@media (min-width:576px) {
  html,
  body{font-size:18px}
}

/* Wrappers */

.wrapper{margin:0 auto;max-width:700px;padding:0 1.5rem;position:relative}
.wrapper.narrow{max-width:580px}
.wrapper.wide{max-width:1280px}
.wrapper.extra-wide{max-width:unset}

/* Text */

h2{font:4rem/1 'Dancing Script',cursive;margin-bottom:40px}

@media (min-width:576px) {
  h2{font-size:6rem}
}

/* Text Emphasis */

.bold{font-weight:700}
.glow{text-shadow:0 0 100px #f4a9a1,0 0 50px #f4a9a1,0 0 25px #f4a9a1,0 0 15px #f4a9a1,0 0 5px #f4a9a1,0 0 2px #f4a9a1}
.italic{font-style:italic}
.spaced{letter-spacing:.5em;margin-left:.5em}

/* Links & Buttons */

a,
button{background:0 0;border:0;color:inherit;cursor:pointer;font:inherit}
a:hover{text-decoration:none}

.button{align-items:center;background:linear-gradient(90deg,transparent,#fff1a1 25% 75%,transparent);display:inline-flex;font-size:1.2rem;padding:15px 60px;position:relative;text-decoration:none;transition:.2s;white-space:nowrap}
.button::before,
.button::after{background:linear-gradient(90deg,transparent,#ffdc6a 25% 75%,transparent);content:'';height:2px;left:0;position:absolute;right:0}
.button::before{top:0}
.button::after{bottom:0}
.button svg{height:30px;margin-left:10px}
.button:hover{opacity:.8;transform:scale(.95);}

.icons{align-items:center;display:flex;text-decoration:none}
.icons a{padding:5px}
.icons a svg{display:block;fill:#fff;transition:.2s transform,.2s fill;width:40px}
.icons a:hover svg{fill:#f4a9a1;transform:scale(.95)}

/* Nav */

nav{background:linear-gradient(rgba(0,0,0,.5),transparent);height:150px;left:0;position:absolute;right:0;z-index:1}
nav .wrapper{display:flex;justify-content:space-between;padding:1rem}
nav #press{align-self:center;color:#fff;padding:5px 10px}
nav #press:hover{color:#f4a9a1}

@media (min-width:576px) {
  nav .icons{column-gap:10px}
}

/* Header */

header{align-items:center;background:center/cover url('../img/background-day.jpg');display:flex;height:100%;overflow:hidden;position:relative}
header::before,
header::after{bottom:0;content:'';left:0;pointer-events:none;position:absolute;right:0;top:0}
header::before{background:linear-gradient(transparent 70%,#fff calc(100% - 100px));filter:blur(20px);margin:-70px;z-index:2}
header::after{-webkit-backdrop-filter:blur(3px);backdrop-filter:blur(3px);background:rgba(0,0,0,.25)}
header .wrapper{padding:0 .5em;z-index:1}
header h1{margin-bottom:20px;position:relative}
header h1 img:nth-of-type(1){filter:drop-shadow(0 0 50px rgba(0,0,0,.3))}
header h1 img:nth-of-type(2),
header h1 img:nth-of-type(3){filter:drop-shadow(0 0 10px #f0ed53) drop-shadow(0 0 2px #f0ed53);left:0;position:absolute;top:0}
header h1 img:nth-of-type(2){animation:header-floating 4s infinite cubic-bezier(.37,0,.63,1),header-flicker 6s infinite linear}
header h1 img:nth-of-type(3){animation:header-floating 6s infinite cubic-bezier(.65,0,.35,1)}
header .characters{aspect-ratio:4/3;display:none;height:100%;left:50%;pointer-events:none;position:absolute;transform:translateX(-50%);z-index:1}
header .characters img{bottom:0;filter:drop-shadow(0 0 15px rgba(0,0,0,.25));height:80%;position:absolute}
header .characters img:nth-of-type(1){left:-200px;transform:scaleX(-1)}
header .characters img:nth-of-type(2){right:-200px}
header .scroll{animation:header-scroll 2s infinite ease-out;bottom:50px;left:0;position:absolute;right:0;z-index:2}
header .scroll img{animation:header-scroll 2s infinite ease-out}

@media (min-width:1280px) {
  header .characters{display:block}
}

@keyframes header-floating {
  from,
  to{transform:translate(0,0)}
  50%{transform:translate(0,7.5px)}
}

@keyframes header-flicker {
  22%,
  24%,
  27%,
  28%{filter:drop-shadow(0 0 10px #f0ed53) drop-shadow(0 0 2px #f0ed53);opacity:1}
  23%,
  27%{filter:none;opacity:.9}
}

@keyframes header-scroll {
  from{opacity:0;transform:translateY(-10px)}
  50%,
  75%{opacity:1}
  to{opacity:0;transform:translateY(10px)}
}

/* Sections */

section{font-size:1.2rem;padding:200px 0}

/* Summary */

#summary{font-size:1.4rem;padding:200px 0 50px}

/* when button is added, set #summary padding-bottom to 200px and enable the below */ 
/* #summary .button{margin-top:40px} */

/* Characters */

#characters{background:linear-gradient(#fff,#e6ecf7);overflow:hidden;position:relative;z-index:0}
#characters::before{background:url('../img/flower.svg') 0/50px;bottom:0;content:'';left:0;mix-blend-mode:soft-light;opacity:.2;position:absolute;right:0;top:0;transform:scale(1.5)rotate(10deg)}
#characters .cards{display:grid;grid-column-gap:20px;grid-row-gap:20px;grid-template-columns:repeat(2,1fr);margin:25px auto 100px;perspective:3000px}
#characters .card{aspect-ratio:1/1.7;background:#fdf9ed;border-radius:10px;box-shadow:0 10px 80px rgba(0,0,0,.2);display:flex;flex-direction:column}
#characters .card div{border:1px solid;display:flex;flex-direction:column;height:100%;margin:10px;position:relative}
#characters .card img{height:100%;object-fit:cover;object-position:top;padding-top:10px}
#characters .card p{background:#f7ecc8;border-top:1px solid;bottom:0;font-weight:bold;left:0;position:absolute;right:0;text-transform:uppercase}
#characters #mika{transform:translateY(100px)rotate3d(10,5,2.5,45deg);z-index:1}
#characters #mika img{background-image:url('../img/character-mika-bg.png')}
#characters #allan{transform:translateY(35px)rotate3d(40,-15,-20,30deg);z-index:1}
#characters #allan img{background-image:url('../img/character-allan-bg.png')}
#characters #flora{transform:translateY(25px)rotate3d(50,25,0,40deg)}
#characters #flora img{background-image:url('../img/character-flora-bg.png')}
#characters #marc{transform:rotate3d(10,-2.5,0,35deg)}
#characters #marc img{background-image:url('../img/character-marc-bg.png')}

@media (min-width:768px) {
  #characters .cards{grid-template-columns:repeat(4,1fr)}
}

/* About */

#about{background:#fce8e7;overflow:hidden;position:relative;z-index:0}
#about::before,
#about::after{bottom:0;content:'';left:0;position:absolute;right:0;top:0}
#about::before{background:url('../img/circle.svg') -12.5px/50px;mix-blend-mode:soft-light;opacity:.1;transform:scale(1.5)rotate(-10deg);z-index:-2}
#about::after{background:linear-gradient(10deg,#fce8e7,transparent,#fce8e7);z-index:-1}
#about .halves{align-items:center;column-gap:75px;display:grid;margin-top:90px;row-gap:75px}
#about .halves div{position:relative}
#about .halves div::before{border-radius:15px;bottom:0;box-shadow:0 0 30px #fce8e7 inset,0 0 20px #fce8e7 inset,0 0 10px #fce8e7 inset,0 0 5px #fce8e7 inset,0 0 5px #fce8e7 inset,0 0 5px #fce8e7 inset;content:'';left:0;position:absolute;right:0;top:0}
#about .halves div img{border-radius:15px;display:block}

@media (min-width:768px) {
  #about .halves{grid-template-columns:repeat(2,1fr)}
  #about .halves :nth-child(0){order:-1}
  #about .halves :nth-child(2){order:-1}
  #about .halves :nth-child(5){order:1}
}

/* Night */

#night{align-items:center;background:url('../img/background-night.jpg') center/cover;color:#fff;display:flex;min-height:100%;overflow:hidden;padding:250px 0;position:relative}
#night::before{background:linear-gradient(rgba(0,0,0,.4) 70%,#000 calc(100% - 100px));bottom:0;content:'';filter:blur(20px);left:0;margin:-70px;position:absolute;right:0;top:0}

/* Buy */

#buy{background:#648489;color:#fff;font-size:1.8rem;overflow:hidden;padding:250px 0;position:relative;z-index:0}
#buy::before{background:linear-gradient(#000,rgba(0,0,0,.7));bottom:0;content:'';left:0;position:absolute;right:0;top:0}
#buy .button{background:linear-gradient(90deg,transparent,rgba(255,160,160,.05) 25% 75%,transparent);fill:#fff;filter:drop-shadow(0 0 30px #d64939) drop-shadow(0 0 5px #d64939) drop-shadow(0 0 2px #d64939);margin-top:40px}
#buy .button:hover{color:#ffaba2;fill:#ffaba2;filter:drop-shadow(0 0 30px #b33224) drop-shadow(0 0 5px #b33224) drop-shadow(0 0 2px #b33224)}
#buy .button::before,
#buy .button::after{background:linear-gradient(90deg,transparent,#ff6a6a 25% 75%,transparent)}
#buy img{bottom:0;max-width:unset;position:absolute;transform:translate(-50%,50%);z-index:-1}

/* Footer */

footer{padding:25px 0}
footer p{align-self:center}
footer .wrapper{display:grid;grid-template-columns:1fr;padding:1rem}
footer .icons{column-gap:10px;justify-content:center;margin:10px 0}
footer .icons a svg{fill:#000}
footer .logo{display:flex;justify-content:center;order:-1}
footer .logo img{margin-top:-5px;width:70px}
footer .logo p{font:1.4rem 'Dancing Script',cursive;margin-left:10px}
footer .links{padding:5px 10px}
footer .links a{color:#f4a9a1}
footer .links span{margin:0 .75em}

@media (min-width:768px) {
  footer{padding:0}
  footer p{text-align:right}
  footer .wrapper{grid-template-columns:repeat(3,1fr)}
  footer .icons{justify-content:unset;margin:0}
  footer .logo{order:unset}
}

/* Fonts */

/* @font-face {
  font-family:'Libre Baskerville';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/librebaskerville/v14/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxM.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD
}

@font-face {
  font-family:'Libre Baskerville';font-style:italic;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/librebaskerville/v14/kmKhZrc3Hgbbcjq75U4uslyuy4kn0qNcWxEQDA.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD
}

@font-face {
  font-family:'Libre Baskerville';font-style:normal;font-weight:700;font-display:swap;src:url('https://fonts.gstatic.com/s/librebaskerville/v14/kmKiZrc3Hgbbcjq75U4uslyuy4kn0qviTgY3KcA.woff2') format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD
} */

@font-face {
  font-family:'Dancing Script';font-style:normal;font-weight:700;font-display:swap;src:url('https://fonts.gstatic.com/s/dancingscript/v24/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7B1i03Sup8.woff2') format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD
}